/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add custom global styles here if needed */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
